* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    background-color: rgb(0, 178, 169);
    height: 80px;
    padding: 10px;
}

.cabecalho img {
    width: 20%;
}

.menu li {
    color: white;
}

.principal {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 5%;
}

li a {
    text-decoration: none;
    color: white;
}