main h1{
    padding: 25px 20px;
    color: rgb(129, 185, 138);
    font-size: 50px;
}

.organiza-gastronomia {
    display: grid;
    grid-template-columns: 1fr;
}

.organiza-gastronomia section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

.organiza-gastronomia img {
    width: 90%;
}

img {
    border-radius: 100px;
}

section p {
    display: grid;
    place-items: center;
}

@media only screen and (max-width: 600px) {
    .organiza-gastronomia section {
        grid-template-columns: 1fr;
    }

    main h1 {
        font-size: 30px;
    }

}